.cards {
  display: flex;
  padding-bottom: 30px;

  &__articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 30px);
    height: 100px;
    background-color: #fff;
    border: 1px solid #DFE0EB;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      border-color: #3751FF;
    }

    &:hover &_header,
    &:hover &_number {
      color: #3751FF;
    }

    &_header {
      margin: 0;
      font-size: 19px;
      font-weight: 700;
      line-height: 24px;
      color: #9FA2B4;
      transition: color 0.3s ease-in-out;
      user-select: none;
    }

    &_number {
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      color: #252733;
      transition: color 0.3s ease-in-out;
      user-select: none;
    }
  }
}

.active {
  border-color: #3751FF;

  & .cards__articles_header,
  & .cards__articles_number {
    color: #3751FF;
  }
}