.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;

  &__img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__author {
    margin-right: 50px;
  }

  &__title {
    margin-right: 50px;
  }

  &__body {
    margin-right: auto;
  }

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__changerInput {
    margin-right: 10px;
    border-radius: 10px;
    border-color: gray;
  }

  &__changerBtn {
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}
