.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  h2 {
    margin: 0;
  }

  &__right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_username {
      
    }

    &_user_avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}